<style>

.headline1 {
    font-family: Helvetica;
    font-size: 75px;
    text-align: center;
}

.headline2 {
    font-family: Helvetica;
    font-size: 45px;
    text-align: center;
}
nav {background-color:powderblue;
    font-family: Impact;
    font-size: 24px;
}

header {font-family:Helvetica;
        height: 200px;
        text-align: center;
}

p {text-align: left; width: 550px;
}

footer {background-color:royalblue;
    font-family:helvetica;
}

.primary {background-color:cornflowerblue;
}

.fancybig {font-family: helvetica ; font-size:32px;
}

#test {
    height: 20vh;
    width: 80vw;
    background-color:seagreen;
    text-align: left;
}

section p {
    background: blanchedalmond;
    font-family:helvetica;
    text-align: left;
}

p > span {
    background-color: ivory;
}

span > span {
    background-color: rebeccapurple;
}

p + p {
    background-color: yellowgreen;
}

p ~ img {
    border: solid 3px; color:hotpink;
}

.test2 {
background-color:orange;
text-align: left;
}

div.test2 {
background-color:grey;
}

img:nth-child(even) {
border: solid 3px gold;
}

img:nth-child(odd) {
border: solid 3px rosybrown;
}

.container {
margin: 5px auto; max-width: 500px; width: 80vw;
}

</style>
